<div class="wrapper__sub cf">

  <section class="grid ss1-ss4 ls1-ls8 sponsors box">

    <h4 class="beta heading--main">Sponsored by</h4>

    <ul class="list gallery cf">

      <li class="gallery__item">
        <a class="outbound link" href="http://www.virgintrains.co.uk/" target="_blank">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_virgin-trains.png" alt="Virgin Trains">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://www.absolutehrsolutions.co.uk/" target="_blank">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_absolute-hr-solutions.svg" data-fallback="{{ site.media }}/sponsors/logo_absolute-hr-solutions.png" alt="Absolute HR Solutions">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" target="_blank" href="http://www.apogeecorp.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_apogee-corporation.svg" alt="Apogee Corporation" data-fallback="{{ site.media }}/sponsors/logo_apogee-corporation.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" target="_blank" href="http://www.ccfc.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_coventry-city.png" alt="Coventry City">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" target="_blank" href="http://dbpoloclub.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_ixl-events.svg" alt="iXL Events" data-fallback="{{ site.media }}/sponsors/logo_ixl-events.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" target="_blank" href="https://www.duncanlawrie.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_duncan-lawrie.svg" alt="Duncan Lawrie Private Bankind" data-fallback="{{ site.media }}/sponsors/logo_duncan-lawrie.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" target="_blank" href="http://www.grosvenorcasinos.com/local-casinos/coventry/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_grosvenor-casinos.svg" alt="Grosvenor Casino" data-fallback="{{ site.media }}/sponsors/grosvenor-casinos.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://johnsonsjewellers.co.uk/" target="_blank">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_johnsons-jewellers.svg" alt="Johnsons Jewellers"  data-fallback="{{ site.media }}/sponsors/logo_johnsons-jewellers.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://www.hygienesolutions.org/" target="_blank">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_hygiene-solutions.svg" alt="Hygiene Solutions"  data-fallback="{{ site.media }}/sponsors/logo_hygiene-solutions.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://inspirational.uk.com/" target="_blank">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_inspirational-magazine.svg" alt="Inspirational Magazine"  data-fallback="{{ site.media }}/sponsors/logo_inspirational-magazine.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://www.qdosconsulting.com/" target="_blank">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_qdos.svg" alt="Qdos"  data-fallback="{{ site.media }}/sponsors/logo_qdos.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" target="_blank" href="http://www.slmbuilders.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_slm-builders.svg" alt="SLM Builders" data-fallback="{{ site.media }}/sponsors/logo_slm-builders.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" href="http://www.sports-4all.com/" target="_blank">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_sport-4-all.svg" alt="Qdos"  data-fallback="{{ site.media }}/sponsors/logo_sport-4-all.png">
        </a>
      </li>

      <li class="gallery__item">
        <a class="outbound link" target="_blank" href="http://www.ventola.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_ventola-projects.png" alt="Ventola Projects">
        </a>
      </li>

    </ul>


  </section>

  <section class="grid ss1-ss4 ls9-ls12 association box">

      <h4 class="beta heading--sub">In association with</h4>
      <a class="outbound link" href="http://www.championsukplc.co.uk/" target="_blank">
        <img class="image__responsive" src="{{ site.media }}/sponsors/logo_championsuk.svg" alt="Champions UK" data-fallback="{{ site.media }}/sponsors/logo_championsuk.png">
      </a>

  </section>

</div>
