---
layout: default
---

<article class="grid ss1-ss4 ls1-ls8 box__large">
  {{ content }}
</article>

<section class="grid ss1-ss4 ls9-ls12 box__large">

  <article class="box">

    <h2 class="heading--sub">Venue</h2>


    <ul class="list list--ceremony">

      <li>
        <a class="outbound link" target="_blank" href="http://dbpoloclub.com/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_ixl-events.svg" alt="iXL Events" data-fallback="{{ site.media }}/sponsors/logo_ixl-events.png">
        </a>
      </li>

      <li>
        <a class="outbound link" target="_blank" href="http://champions-speakers.co.uk/">
          <img class="image__responsive" src="{{ site.media }}/sponsors/logo_champions-after-dinner-speakers.svg" alt="Champions UK" data-fallback="{{ site.media }}/sponsors/logo_champions-after-dinner-speakers.png">
        </a>
      </li>

    </ul>


    <h2 class="heading--sub">Charities</h2>
      <ul class="list list--ceremony list--charities">
      <li><a class="outbound link" target="_blank" href="http://www.zoes-place.org.uk/"><img class="image__responsive" src="{{ site.media }}/sponsors/logo_zoes-place.svg" data-fallback="{{ site.media }}/sponsors/logo_zoes-place.png" alt="Zoe's Place - Baby Hospice"></a></li>

      <li><a class="outbound link" target="_blank" href="http://snowballtrust.org.uk/"><img class="image__responsive" src="{{ site.media }}/sponsors/logo_snowball.png" alt="The Snowball Trust - For sick and disabled children in Coventry &amp; Warwickshire"></a></li>

    </ul>

  </article>


</section>
